body {
    background-color: #000000;
}
#mainh1 {
    color: #ffffff;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 3.125em;
    line-height: normal;
    font-family: "NewLato";
    text-decoration: none;
}
aside {
    float: left;
}
#ProjectsH1 {
    color: #ffffff;
    font-family: 'Lato'
}
@font-face {
  font-family: 'NewLato';
  src: url('../Fonts/Lato.woff2'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/Lato.woff2') format('woff2'), /* Super Modern Browsers */
}
.projects {
    color: #ffffff;
    font-size: 0.75em;
    text-decoration: none;
    font-family: 'Roboto Condensed'
}
.projects:hover {
    text-decoration: none;
    color: aqua;
}
#container {
    float: right;
}
#img {
    /*padding-right: 43.75em;*/
    height: auto;
    width: auto;
}
#meta-description {
    color: white;
}
@font-face {
  font-family: 'OtherLato';
  src: url('../Fonts/Lato2.woff2'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/Lato2.woff2') format('woff2'), /* Super Modern Browsers */
}
#read-more {
    font-family: 'OtherLato'
}
#meta-heading-feature {
    color: white;
    font-family: 'Oswald'
}
#read-more {
    text-decoration: none;
    color: aqua;
}
#meta-heading-title {
    color: white;
}
#container {
    float: left;
    padding: 4px 0px 0px 4px;
}
@media screen and (max-width: 1188px) {
    #img {
        width: 375px;
        height: 183.11px;
    }
}
/*@media screen and (max-width: 640px) {
    #img {
        width: 500px;
        height: 244.14px;
    }
}
@media screen and (max-width: 1000 & min-width: 640) {
    #img {
        width: 500px;
        height: 244.14px;
    }
}*/