<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Template</title>
        <link rel="stylesheet" href="template.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans|Roboto+Condensed" rel="stylesheet">
    </head>
<body>
    <a id="mainh1" href="index.html">Luke Strong Dev</a>
    <br>
    <aside>
        <div id="sidebar">
            <h1 id="ProjectsH1">Live Projects</h1>
            <a class="projects" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bell Hopper</a>
            <br>
            <a class="projects" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ninjas vs Pirates</a>
            <h1 id="ProjectsH1">Coming Soon</h1>
            <a class="projects" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[New Game]</a>
            <h1 id="ProjectsH1">Downloads</h1>
            <a class="projects" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ninjas vs Pirates</a>
        </div>
    </aside>
    <div id="container">
        <!--<img src="Images/feature.png" id="img">!-->
    </div>
</body>
</html>